:root {
  --main-font: "Reddit Mono", monospace;
}

body {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  max-width: 700px;
  color: white;
}

.container {
  background: linear-gradient(
    110.6deg,
    rgb(156, 116, 129) -18.3%,
    rgb(67, 54, 74) 16.4%,
    rgb(47, 48, 67) 68.2%,
    rgb(27, 23, 36) 99.1%
  );
  border-radius: 10px;
  padding: 15px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.temperature {
  flex: 6;
  border: 1px solid black;
  font-size: 25px;
  margin: 0;
}

.weather-description {
  flex: 6;
  border: 1px solid black;
  font-size: 15px;
  margin: 0;
}

.weather-description ul {
  list-style: none;
  margin: 0;
}

form {
  padding: 15px;
}

#city-input {
  height: 25px;
  width: 350px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid black;
}

.btn {
  font-size: 15px;
  height: 30px;
  width: 90px;
  background-color: hsla(0, 5%, 83%, 0.818);
  border: none;
  border-radius: 5px;
}

footer {
  font-size: 12px;
  margin-top: 50px;
  margin-bottom: 20px;
}

a {
  color: white;
  text-decoration: none;
}

h1,
h2 {
  font-family: var(--main-font);
}

h1 {
  font-weight: 900;
  margin-bottom: 0;
}

h2 {
  font-weight: 400;
}
